<div class="mx-auto md:w-2/3 w-full">
  <h1>New Message</h1>

  <%= turbo_frame_tag "new_message" , target: "_top" do %>
    <%= form_with(model: [@message.room, @message],
      data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
      <div class="my-5">
        <%= form.text_field :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="inline">
        <%= form.submit "Send", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
      </div>
    <% end %>
  <% end %>
</div>
